




* {
  background-color:  #0f1010;
  overflow-x: hidden;
  overflow-y: hidden;
}



.TopParaghape h1{
  display: flex;
  color: rgb(170, 0, 249);
  font-family: Verdana;
  font-weight: 700;
  font-size: 200px;
  position: relative;
  left: 7%;
  width: auto;
  display: flex;
  flex-wrap: nowrap;


}



.TopParaghape h2 {
  display: flex;
  color: white;
  font-size: 20px;
  height: 250px; 
  width: 500px; 
  line-height: 25px; 
  position: relative; 
  top: -140px;
  left: 8%;

}


.TopParaghape img  {
  position: relative;
  top: -520px; 
  left: 55%;
  border-radius:  25px;
  width: 40.5%;  
  height: auto;
  box-shadow:none;
  transition: box-shadow  1s;


}

@media screen and (max-aspect-ratio: 21/9) {
  .TopParaghape img {
    max-width: 100%; 
    height: auto; 
  }
}

.TopParaghape img:hover { 
  box-shadow: 10px 0 100px rgb(170, 0, 249);
  filter: blur(0px);
}




